#root {
    width: 50%;
    margin: auto;
    padding-top: 5%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.toolbar {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 1%;
    background-color: floralwhite;
}

.login-form {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
	border-radius: 10px;
	background-color: floralwhite;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.login-form__header {
    font-weight: 350;
    text-align: center;
}

.login-form__form-group {
    margin-bottom: 20px;
}

.login-form__form-group__field {
    width: 100%;
}

.button {
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.login-form__submit-button {
    left: 50%;
	margin-top: 3%;
	position: relative;
	transform: translate(-50%, 0);
}

.repo-list {
    width: 50%;
    height: 60%;
    overflow-y: auto;
    padding: 4%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4%;
    background-color: floralwhite;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.repo-list__list-item {
    list-style-type: none;
}